h3.head{
  font-size:.8rem;
  padding:.6rem 0 .6rem .6rem;
  background:rgb(243,243,243);
}
.page{height:100%;background:rgb(243,243,243);}
.page .banner{}
.page .banner img{
  vertical-align: middle;
  max-width:100%;
}
.page .publish{
  padding:.6rem 3.4rem;
  background:#fff;
}
.publish a{
  display: flex;
  justify-content: center;align-items: center;
  width:11.95rem;
  height:1.95rem;
  border:none;
  border-radius: 1.95rem;
  color:#fff;
  background:rgb(51,70,155);
  font-size:.75rem;
  outline:none;
}
.page .spread{

}
.page .spread ul{
  display: flex;
  justify-content: space-around;
  padding:.8rem 0;
  background:#fff;
}
.page .spread ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .spread ul li span{
  font-size:.6rem;
}
.page .spread img{
  width:2.35rem;
  height:2.35rem;
}
.page .img-model{
  background:rgb(243,243,243);
  padding-bottom:3.5rem;
  position: relative;
  z-index:1;
}
.page .img-model .scroll{
  overflow-x:scroll;
}
.page .img-model .scroll::-webkit-scrollbar{
  display: none;
}
.page .img-model .scroll ul{
  display: flex;
}
.img-model .scroll ul li{
  margin-left:.6rem;
  background:#fff;
  padding:.6rem;
}
.img-model .scroll ul li .msg{
  display: flex;justify-content: space-between;
}
.img-model .scroll ul li img{
  width:8.65rem;height:4.9rem;
}
.img-model .scroll .msg span{
  font-size:.7rem;
}
.page .tabs{
  position:fixed;
  bottom:0;
  left:0;right:0;
  height:2.4rem;
  z-index:2;
  background:#fff;
}
.page .tabs ul{
  display: flex;
  height:100%;;
}
.page .tabs ul li{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .tabs ul li a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page .tabs ul li span{
  font-size:.6rem;
  transform: scale(0.833333);
  line-height: .75rem;
}
.page .tabs ul li img{
  width:1.25rem;
  height:1.2rem;
}
